---
import { Card } from '@eliancodes/brutal-ui';
import { Image } from 'astro:assets';

interface Props {
  title: string;
  imgSrc: ImageMetadata;
  imgAlt: string;
  description: string;
}

const { title, imgAlt, imgSrc, description } = Astro.props;
---

<Card color='white'>
  <h3 class='poppins text-lg md:text-xl'>{title}</h3>
  <div class="flex flex-wrap items-center justify-center">
    <div class='rounded-lg border-3 border-black my-4 h-56 w-100'>
      <Image
        src={imgSrc}
        alt={imgAlt}
        width={600}
        height={400}
        class='rounded h-full w-full object-cover'
      />
    </div>
  </div>
  <p class='poppins'>{description}</p>
  <slot />
</Card>
